h1 {
    color: red;
}

html,
body {
    height: 100%;
}

footer {
    font-size: 10pt;
    background-image: linear-gradient(to right, #183864, #182364);
    color: #D3DCE6;
}

.nav-link {
    color: #D3DCE6;
}